<footer class="footer" style="background-color:black;">
  <div class="container">
    <div class="content has-text-centered">
        <nav class="level">
            <div class="level-item has-text-centered">
                <a href="/markets">Markets</a>
            </div>
            <div class="level-item has-text-centered">
                <a href="/services">Services</a>
            </div>
            <div class="level-item has-text-centered">
                <a href="/promotions">Promotions</a>
            </div>
            <div class="level-item has-text-centered">
                <a href="/contact-us">Contact Us</a>
            </div>
            <div class="level-item has-text-centered">
                <a href="/about-us">About Us</a>
            </div>
        </nav>
      <p>
        © 2018 American Communications of the Triad. All Rights Reserved. AT&T, Globe logo and DIRECTV are trademarks of AT&T Intellectual Property and/or AT&T affiliated companies.
      </p>
    </div>
  </div>
</footer>
