<button class="quote button is-small is-info animated slideInLeft">Get a Quote!</button>
<script>
    $('.quote').click(function() {
        var success = false;
        swal.setDefaults({
  confirmButtonText: 'Next &rarr;',
  showCancelButton: true,
  animation: false,
  customClass: 'animated jackInTheBox',
  progressSteps: ['1', '2', '3', '4']
})
const ipAPI = 'https://api.ipify.org?format=json'
var steps = [
    {
        title:'Name',
        input:'text',
        inputValidator: (value) => {
            return !value && "You don't have a name?"
  }
    },
    {
        title:'Email',
        input:'email'
    },
    {
        title:'Phone',
        input:'text',
        inputValidator: (value) => {
            return !value && "We promise not to call unless you've asked :)"
        }
    },
    {
        title: 'Property Type',
        input: 'select',
        inputOptions: {
            'Residential':'Residential',
            'Apartments':'Apartments',
            'Gym':'Gym',
            'Hotel':'Hotel',
            'Medical':'Medical',
            'Mobile-Home':'Mobile-Home',
            'Offices':'Offices',
            'Restaurant':'Restaurant',
            'Salon':'Salon'
        },
        inputPlaceholder: 'Select a property type',
        inputValidator: (value) => {
            return new Promise((resolve) => {
              if (value) {
                resolve()
              } else {
                resolve('You need to select a property type :)')
              }
            })
        },
        showLoaderOnConfirm: true,
        confirmButtonText: 'Confirm &#10004;',
        preConfirm: () => {
            submitted = true;
            return;
           }
    }
]

swal.queue(steps).then((result) => {
  swal.resetDefaults()
  if(submitted){
      $.get({
        type: 'POST',
        data: JSON.stringify(result.value),
        contentType: 'application/json',
        url: 'http://localhost:3000/quotes',
        success: function(data) {
            swal(
              'Thanks!',
              'Your quote will be emailed shortly!',
              'success'
                ).then((result) => {
                    window.location.replace("/");
                })
               }
      })
  }
})
});
</script>
