<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} - AmerCom of the Triad</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.6.0 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/css/landing.css">
        <link rel="stylesheet" type="text/css" href="/css/spacelab.css">
        <style>
        body {
            background-color: white;
        }
        </style>
        {{{_sections.css}}}
    </head>
    <body>
        <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="../">
                <h1 style="font-weight: bold; font-size: 1.3rem"><i class="fa fa-certificate"></i> AmerCom</h1>
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/markets">
                      Markets
                    </a>
                    <div class="navbar-dropdown is-boxed">
                      <a class="navbar-item" href="/markets/restaurants">
                        Restaurants
                      </a>
                      <a class="navbar-item" href="/markets/hotels">
                        Hotels
                      </a>
                      <a class="navbar-item" href="/markets/gyms">
                        Gyms
                      </a>
                      <a class="navbar-item" href="/markets/offices">
                        Offices
                      </a>
                      <a class="navbar-item" href="/markets/medical">
                        Medical Facilities
                      </a>
                      <a class="navbar-item" href="/markets/apartments">
                        Apartments
                      </a>
                      <a class="navbar-item" href="/markets/salons">
                        Salons
                      </a>
                      <a class="navbar-item" href="/markets/mobile-home-communities">
                        Mobile Home Parks
                      </a>
                    </div>
              </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/services">
                  Services
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="/services/american-communications">
                    AmerCom for Business
                  </a>
                  <a class="navbar-item" href="/services/american-satellite_concepts">
                    American Satellite Concepts
                  </a>
                  <a class="navbar-item" href="/services/american-wireless-synergy">
                    American Wireless Synergy
                  </a>
                </div>
          </div>
                <a class="navbar-item" href="/promotions">
                  Promotions
                </a>
                <a class="navbar-item" href="/contact-us">
                  <i class="fa fa-phone-square"></i>&nbsp;Contact Us
                </a>
                <a class="navbar-item" href="/about-us">
                  About Us
                </a>
              </div>
            </div>
          </div>
        </nav>
        </div>
        {{{body}}}
        {{> footer}}
        <script async type="text/javascript" src="/js/burger.js"></script>
    </body>
</html>
