<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              404 - Resource not found!
            </h1>
          </div>
        </div>
    </div>
</section>
