{{#section 'css'}}
    <style>
    .hero.is-info {
        background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url('/images/space_test.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>
{{/section}}
<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              American Communications of the Triad
            </h1>
            <h2 class="subtitle">
               Your home for business entertainment solutions. We serve local businesess in industries ranging from offices to gyms to hotels.
               We understand your customer and employee needs and will work with you to provide an ideal experience for any industry.
            </h2>
            <div class="box">
              <div class="field is-grouped">
                <p class="control is-expanded">
                  <input id="email" class="input" type="email" placeholder="Email Newsletter!">
                </p>
                <p class="control">
                  <a class="subscribe button is-info">
                    Subscribe
                  </a>
                </p>
              </div>
            </div>
            <h2 class="subtitle">
              Companies that trust AmerCom
            </h2>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">
                            <img src="/images/acc-logo.png" align="bottom" alt="">
                        </p>
                        <br>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">
                            <figure class="image is-128x128">
                                <img src="/images/planet-fitness.png" alt="">
                            </figure>
                        </p>
                        <br>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">
                            <figure class="image is-128x128">
                                <img src="/images/uncg-logo.png" alt="">
                            </figure>
                        </p>
                        <br>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">
                            <figure class="image is-128x128">
                                <img src="/images/kfc-logo.png" alt="">
                            </figure>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
<script>
    $('.subscribe').click(function() {
        var email = { email: $('#email').val() };
        $.get({
              type: 'POST',
              data: JSON.stringify(email),
              contentType: 'application/json',
              url: '/subscribe',
              success: function(data) {
                  swal(
                    'Thanks!',
                    'Hot tips incoming!',
                    'success'
                ).then((result) => {
                    window.location.replace("/");
                })
            }
        });
    });
</script>
