{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
{{/section}}

<section class="hero is-medium is-info is-primary" style="margin-bottom:1rem">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        DirecTV Promotional Pricing
      </h1>
      <h2 class="subtitle">
        Monthly packages start as low as $29.99/mth and Standard In Scope Installations are FREE!
      </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
            <p class="has-text-centered">
                <a href="/services/american-satellite-concepts"><img src="https://www.satellitesalesstars.com/uploads/1/3/2/5/13252434/published/asctransp_1.png?1512580964" alt=""></a>
            </p>
        <div class="description has-text-centered">
            <h2><strong>Get the industry leading technology with a local touch and feel!  </strong></h2>
            <p>We provide DirecTV's best in home entertainment solutions, while giving you a local point of contact and service. Call one of our local consultants today and let us find a plan that fits your entertainment needs and budget! </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
            <h2><strong>Click for Channel Packages!</strong></h2>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div><a href="/markets/restaurants">
                        <p class="heading">SELECT (150+ Channels)</p>
                        <p class="title">
                            1 TV: $45/mth | 2 TVs: $52/mth | 3 TVs: $54/mth | 4 TVs: $61/mth
                        </p>
                        <br>
                    </a></div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div><a href="/markets/restaurants">
                        <p class="heading">ENTERTAINMENT (155+ Channels)</p>
                        <p class="title">
                            1 TV: $45/mth | 2 TVs: $52/mth | 3 TVs: $59/mth | 4 TVs: $66/mth
                        </p>
                        <br>
                    </a></div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div><a href="/markets/restaurants">
                        <p class="heading">CHOICE (185+ Channels)</p>
                        <p class="title">
                            1 TV: $55.83/mth | 2 TVs: $62.83/mth | 3 TVs: $69.83/mth | 4 TVs: $76.83/mth
                        </p>
                        <br>
                    </a></div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div><a href="/markets/restaurants">
                        <p class="heading">XTRA (230+ Channels)</p>
                        <p class="title">
                            1 TV: $65.83/mth | 2 TVs: $72.83/mth | 3 TVs: $79.83/mth | 4 TVs: $86.83/mth
                        </p>
                        <br>
                    </a></div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div><a href="/markets/restaurants">
                        <p class="heading">ULTIMATE (245+ Channels)</p>
                        <p class="title">
                            1 TV: $70.83/mth | 2 TVs: $77.83/mth | 3 TVs: $84.83/mth | 4 TVs: $91.83/mth
                        </p>
                        <br>
                    </a></div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div><a href="/markets/restaurants">
                        <p class="heading">PREMIER (325+ Channels)</p>
                        <p class="title">
                            1 TV: $120.83/mth | 2 TVs: $127.83/mth | 3 TVs: $134.83/mth | 4 TVs: $141.83/mth
                        </p>
                        <br>
                    </a></div>
                </div>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
            <h2><strong>Ready to save on TV today?</strong></h2>
            <p>Take the First Step & Call Today for a Free Quote 336-328-5887!</p>
            <br>
            <a href="/get-a-quote">
                <button class="button is-info">
                    <span class="icon"><i class="fa fa-dollar"></i></span><strong>Get a Quote</strong>
                </button>
            </a>
        </div>
    </div>
</section>

<section class="hero is-info is-primary" style="margin-top:1rem">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        We are dedicated to bringing you the services you know and love at the best prices!
      </h2>
    </div>
  </div>
</section>
