.card-image{
    background-color:white
}
.description{
    color:black;
}
h1{
    font-size:2rem;
}
h2{
    font-size:1.4rem;
}
h4{
    font-size:1.3rem;
}
a{
    color: #00a6d6;
}
strong{
    color:black;
}
body > section:nth-child(4) > div > div > nav > div:nth-child(1) > div > a > p.title > i {
    color:black
}
