.card-image{
    background-color:white
}
.description{
    color:black;
}
h1{
    font-size:2rem;
}
h2{
    font-size:1.4rem;
}
h4{
    font-size:1.3rem;
}
a{
    color: #00a6d6;
}
strong{
    color:black;
}
.level{
    border-bottom: 1px grey solid;
}
p.heading{
    font-size:1.1rem;
}
p.title  {
    color:black;
    font-size:1.3rem;
}
button{
    font-weight: bold;
}
.quote{
    position:fixed;
    bottom: 0;
    left: 10%;
    font-size:.2rem;
    border:0;
}
.hero-body > .container{
    background-color: rgba(0,0,0,.0);
    padding: 2%;
}
