{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
{{/section}}

<section class="hero is-medium is-primary" style="margin-bottom:1rem">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        AmerCom provides a range of television services, wireless network solutions, and phone systems for apartments across the Triad.
      </h1>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
            <img src="https://www.satellitesalesstars.com/uploads/1/3/2/5/13252434/published/dtvauth_2.png?1512581715" alt="">
            <h2><strong>We provide DIRECTV for Business packages for apartments at a price that won't break your budget.</strong></h2>
            <figure class="image is-3by2">
                <img src="/images/apartments.jpeg" alt="">
            </figure>
            <h4>For more information please:</h4>
            <a href="/contact-us">
                <button class="button is-info">
                    <span class="icon"><i class="fa fa-phone"></i></span><strong>Contact Us</strong>
                </button>
            </a>
            <br>
            or
            <br>
            <button class="get-quote button is-info">Get a Quote!</button>
       </div>
   </div>
</section>

<script>
   $('.get-quote').click(function() {
       var success = false;
       swal.setDefaults({
 confirmButtonText: 'Next &rarr;',
 showCancelButton: true,
 animation: false,
 customClass: 'animated jackInTheBox',
 progressSteps: ['1', '2', '3', '4']
})
const ipAPI = 'https://api.ipify.org?format=json'
var submitted = false;
var steps = [
   {
       title:'Name',
       input:'text',
       inputValidator: (value) => {
           return !value && "You don't have a name?"
 }
   },
   {
       title:'Email',
       input:'email'
   },
   {
       title:'Phone',
       input:'text',
       inputValidator: (value) => {
           return !value && "We promise not to call unless you've asked :)"
       }
   },
   {
       title: 'Property Type',
       input: 'select',
       inputOptions: {
           'Residential':'Residential',
           'Apartments':'Apartments',
           'Gym':'Gym',
           'Hotel':'Hotel',
           'Medical':'Medical',
           'Mobile-Home':'Mobile-Home',
           'Offices':'Offices',
           'Restaurant':'Restaurant',
           'Salon':'Salon'
       },
       inputPlaceholder: 'Select a property type',
       inputValidator: (value) => {
           return new Promise((resolve) => {
             if (value) {
               resolve()
             } else {
               resolve('You need to select a property type :)')
             }
           })
       },
       showLoaderOnConfirm: true,
       confirmButtonText: 'Confirm &#10004;',
       preConfirm: () => {
           submitted = true;
           return;
          }
   }
]

swal.queue(steps).then((result) => {
 swal.resetDefaults()
 if(submitted){
     $.get({
       type: 'POST',
       data: JSON.stringify(result.value),
       contentType: 'application/json',
       url: 'http://localhost:3000/quotes',
       success: function(data) {
           swal(
             'Thanks!',
             'Your quote will be emailed shortly!',
             'success'
               ).then((result) => {
                   window.location.replace("/");
               })
              }
     })
 }
})
});
</script>
