{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
{{/section}}

<section class="hero is-medium is-info is-primary" style="margin-bottom:1rem">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        From Restaruants to Business Offices
      </h1>
      <h2 class="subtitle">
        We offer solutions that will serve your enterprise needs.
      </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
            <p class="has-text-centered">
                <a href="/services/american-communications"><img src="http://www.satellitesalesstars.com/uploads/1/3/2/5/13252434/published/americancomm.png?1512581024" alt=""></a>
            </p>
        <div class="description has-text-centered">
            <h2><strong>Serving the triad's business entertainment needs since 1980. </strong></h2>
            <p>Regardless of the size or industry of your business, we would love to speak with you about taking your business to the next level with a state of the art entertainment set up that fits your budget! </p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
            <h2><strong>Choose your Industry</strong></h2>
            <br>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div><a href="/markets/restaurants">
                        <p class="heading">Restaurants</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-cutlery"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
                <div class="level-item has-text-centered">
                    <div><a href="/markets/hotels">
                        <p class="heading">Hotels</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-bed"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
                <div class="level-item has-text-centered">
                    <div><a href="/markets/gyms">
                        <p class="heading">Gyms</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-dribbble"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
                <div class="level-item has-text-centered">
                    <div><a href="/markets/offices">
                        <p class="heading">Offices</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-building-o"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
                <div class="level-item has-text-centered">
                    <div><a href="/markets/medical">
                        <p class="heading">Medical Facilities</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-hospital-o"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
                <div class="level-item has-text-centered">
                    <div><a href="/markets/apartments">
                        <p class="heading">Apartments</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-building"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
                <div class="level-item has-text-centered">
                    <div><a href="/markets/salons">
                        <p class="heading">Salons</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-scissors"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
                <div class="level-item has-text-centered">
                    <div><a href="/markets/mobile-home-communities">
                        <p class="heading">Mobile Parks</p>
                        <p class="title">
                            <span class="icon has-text-black">
                                <i class="fa fa-home"></i>
                            </span>
                        </p>
                    </a></div>
                </div>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
            <h2><strong>Can't find yours? No problem!</strong></h2>
            <p>We can help with any of your TV or internet needs.</p>
            <br>
            <a href="/contact-us">
                <button class="button is-info">
                    <span class="icon"><i class="fa fa-phone"></i></span><strong>Contact Us</strong>
                </button>
            </a>
        </div>
    </div>
</section>

<section class="hero is-info is-primary" style="margin-top:1rem">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">
        Our dedicated commercial team stays up to date on all of the latest tech options across all business sectors (including head ends, com2000, dre, etc.)
      </h2>
    </div>
  </div>
</section>
