{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/css/main.css">
{{/section}}

<section class="hero is-medium is-primary" style="margin-bottom:1rem">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
            <p>{{{content}}}</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="description has-text-centered">
             <h4>Want to save money on business entertainment solutions?</h4>
             <a href="/contact-us">
                 <button class="button is-info">
                     <strong>Contact Us</strong>
                 </button>
             </a>
             <p>or</p>
             <a href="/get-a-quote">
                 <button class="button is-info">
                     <strong>Get a quote!</strong>
                 </button>
             </a>
        </div>
    </div>
</section>
